#title{
     background-color: #ff4c68;
}
#container-fluid{
    padding:3% 10%;
    size:700px;
    
}

h1{
    line-height:1.5;
    font-family:"Montserrat";
    font-size: 3.5rem;
    color: white;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    
}
.navbar-brand{
    font-family: 'Itim', cursive;
    font: size 200px;

}
#io{
    font-size:50px;
    color:white;
    
}
.i{
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
    height: 500px;
    
  
   
    

}
#cf{
    padding-top: 50px;
    padding-left: 200px;
    padding-right:200px;
    
   
}

.box{
    text-align: center;
}

.icon{
    margin:2rem;
    color:#f17a8c;
}
.icon:hover{
    color: #ff4c68;
}

.btn{
    margin-right: 30px;
}

#testimonials{
    background-color:#ff4c68;
    text-align: center;
    color:white;
    padding: 7% 15%;
    
}
.dimg{
    border-radius: 100%;
    width: 10%;
    padding:20px;
}
#press{
    background-color:#ff4c68;
    text-align: center;
   
    
}
.lh{
    width: 10%;
    margin: 10px 20px 50px;

}

.dis{
    text-align: center;
    width: 50%;
    margin: auto;
    padding-top: 50px;    
    padding-bottom: 0;
    margin-bottom: 0;
}

#pricing{
    padding: 150px;
    padding-top: 70px;
}
#fe{
    background-color: #fff;
    position: absolute;
    z-index: 1;

}

#cta{
    background-color:#ff4c68;
    padding: 7% 15%;
    text-align: center;
}
.cta-heading{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 3.5rem;
    line-height: 1.5;
}
#footer{
    text-align: center;
    height: 200px;
    margin-top: 100px;
}
.icont-m{
     margin:20px 10px
}